body {
	background-image: url("../images/main.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	overflow: auto;
}

html {
	width: 100%;
	height: 100%;
}

.index-Border {
	width: 85%;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.dispHide {
	display:none;
}

@font-face {
    font-family: 'Vingy';
    /*a name to be used later*/
    src: url('../fonts/Vingy Normal.ttf');
    /*URL to font*/
}

/* MAIN HTML */

#levelContainer {
	background-image: url("../images/ep_naturalwhite.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 15px;
	overflow: auto;
	border-radius: 20px;
	padding: 15px;
	width: 60%;
}

#welcomeDiv {
	/*float: right;*/
	/*margin-right: 20px;*/
	width: auto;
	text-align: right;
}

.fa-sign-out-alt:hover {
	cursor: pointer;
}

.row div {
	/*min-width: 33%;*/
}

.timer {
	visibility: hidden;
}

/* LEVELS HTML */

.catLabel, .tLabel, .optLabel {
	margin-right: 2%;
}

input[type="radio"] {
	margin-right: 1%;
}

strong {
	font-family: "Vingy";
	font-size: 30px;
}

/* QUESTIONS HTML */

.qText {
	font-family: "Vingy";
	font-size: 60px;
	text-shadow: 2px 2px 2px red;
}

.questionText {
	font-size: 30px;
	font-style: italic;
}

.optLabel {
	font-size: 25px;
}

.hmain div {
	font-family: "Vingy";
	font-size: 30px;
	color: white;
	padding-top: 10px;
}

/* DIALOG */

.modal-header, #modalAlertBtn, #modalTeamBtn {
	background-color: #A96B62;
	color: white;
}

.modal-title {
	text-align: center;
	width: 100%;
}

#alertModal, #teamModal {
	position: absolute;
	transform: translate(-50%, -50%);	
	left: 50%;
	top: 50%;
}

a {
	text-decoration: none;
}

#resultsHeading {
	text-align: center;
}
