body {
	background-image: url("../images/main.png");
	background-repeat: repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	overflow: auto;
	min-height: 100vh;
}

html {
	width: 100%;
	height: 100%;
}

.index-Border {
	width: 85%;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.userLoginSignUp {

}

@font-face {
    font-family: 'Vingy';
    /*a name to be used later*/
    src: url('../fonts/Vingy Normal.ttf');
    /*URL to font*/
}

/* MAIN HTML */

#levelContainer {
	background-image: url("../images/ep_naturalwhite.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	overflow: auto;
	border-radius: 20px;
	padding: 15px;
	width: 60%;
}

#welcomeDiv {
	color: white;
	font-family: "Vingy";
	padding-top: 10px;
	float: right;
	margin-right: 20px;
	width: auto;
	font-size: 30px;
	text-align: right;
}

.fa-sign-out-alt:hover {
	cursor: pointer;
}

/* LEVELS HTML */

.catLabel, .tLabel {
	margin-right: 2%;
}

input[type="radio"] {
	margin-right: 1%;
}

strong {
	font-family: "Vingy";
	font-size: 30px;
}

/* DIALOG */

.modal-header, #modalAlertBtn, #modalTeamBtn {
	background-color: #A96B62;
	color: white;
}

.modal-title {
	text-align: center;
	width: 100%;
}

#alertModal, #teamModal {
	position: absolute;
	transform: translate(-50%, -50%);	
	left: 50%;
	top: 50%;
}

a {
	text-decoration: none;
}

#resultsHeading {
	text-align: center;
	color: #e8ba00;
	font-family: 'Vingy';
	font-size: 200%;
}

#indexSubHeading {
	text-align: center;
	color: #97b400;
	font-family: 'Vingy';
	font-weight: bold;
	font-size: 200%;
}

.tableBg {
	background-image: url("../images/ep_naturalwhite.png");
	background-repeat: repeat;
	background-size: cover;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin: 0;
	overflow: auto;
	border-radius: 10px;
	padding: 15px;
	width: 100%;
}

.resultsContainer {
	margin-top: 4%;
	font-size: 110%;	
}

.resultsContainer h3{
	color: #007c0f;
}

.table td{
	font-size: 130%;
	color: #960d28;
}

nav {
	z-index: 2;
}

.navbar {
	background-color: #4f0000;
}
.navbar a {
	color: rgba(255,255,255,.6);
}

.active a {
	color: #fff;
}

.navbar a:hover {
	color: #fff;
	cursor: pointer;
}

a:not([href]):not([tabindex]) {
	color: #fff;
}
a:not([href]):not([tabindex]):hover {
	color: rgba(255,255,255,.5);
	cursor: pointer;
}
